@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(-145deg, #00afb9, #fed9b7);
}

.container{
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

#card1{
    height: 25rem;
    width: 25rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#card1 img{
    width: 100%;
    transition: all 0.5s ease-in-out;
}

#card1 img:hover{
    transform: translateY(100%);
    transition-delay: 0.2s ;
}

.content1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background-color: #2e3061;
    color: #fee9ce;
    transition: all 0.5s ease-in-out;
    transform: translateY(-100%);
}

.content1 h2{
    margin-bottom: 40px;
    text-transform: uppercase;
}

.content1 p{
    text-align: center;
}

#card1:hover .content1{
    transform: translateY(0);
}

/* card effect 2 */

#card2{
    width: 25rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#card2 img{
    width: 100%;
    transition: all 0.5s ease;
}

.content2{
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: #555184;
    color: #fee9ce;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    transform: translateY(100%);
}

.content2 h2{
    margin-bottom: 15px;
    text-transform: uppercase;
}

.content2 p{
    text-align: center;
}

#card2:hover .content2{
    transform: translateY(0);
}

#card2:hover img{
    transform: translateY(-30%);
}


/* card3 strats here */

#card3{
    height: 25rem;
    width: 25rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#card3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.content3{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 15px;
    transition: all 0.5s ease;
    overflow: hidden;
    background-color: #b2a6be;
    color: #fee9ce;
}

.content3 h2{
    text-transform: uppercase;
}

.content3 p{
    width: 80%;
    margin: 20px auto;
    transition: all 0.5s ease;
    opacity: 0;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0;
}

a{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1 rem;
    border: 2px solid #fee9ce;
    color: #fee9ce;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

a:before{
    content: "DOWNLOAD";
    position: absolute;
    color: #fee9ce;
    font-weight: bold;
    font-size: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #555184;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover:before{
    transform: translateY(0);
}

#card3:hover .content3{
    height: 100%;
    width: 100%;
    left: 0;
}

#card3:hover p,
#card3:hover .btn{
    opacity: 1;
    transition-delay: 0.5s;
}